<h1>Create Makeup Item</h1>

<%= form_for @makeupItem, url: {action: "create"} do |f| %>
<br />
	<%= label_tag(:makeupItemName, "Name:") %>
	<%= f.text_field :name %>
<br />
	<%= label_tag(:makeupItemDesc, "Description:") %>
	<%= f.text_area :description, size: "60x12" %>
<br />
	<%= label_tag(:makeupItemPrice, "Price:") %>
	<%= f.text_field :price %>
<br />
	<%= label_tag(:makeupItemRating, "Rating:") %>
	<%= f.text_field :average_rating %>
<br />
	<%= label_tag(:makeupItemUser, "User:") %>
	<%= f.select :user_id, options_for_select( (1..5).map{|n| n.to_i}) %>
<br />
<br />
	<%= label_tag(:makeupType, "Makeup Type:") %>
	<%= f.select :makeup_type, MakeupItem.makeup_types.keys.to_a %>
<br />
  <div>
    <%= f.label :filepicker_url, "Upload makeup image:" %>
    <%= f.filepicker_field :filepicker_url %>
  </div>
	<%= f.submit "Create" %>
<br />
<% end %>